<!-- setting character set -->
<meta charset="utf-8">
<!-- setting viewport to control page dimensions according to screen size -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- page title -->
<title><%= title %></title>
<!-- including stylesheets -->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/main.css">

<!-- including scripts -->
<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/moment.min.js"></script>
<script src="/js/socket.io-1.7.3.js"></script>
