<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./design/head.ejs %>
</head>
<body>
  <% include ./design/header.ejs %>

  <main>

    <p>MESSAGE FOR YOU.</p>
    <p> <%= msg %> </p><br>
    <p> <%= status %> </p><br>
    <p> <%= error %> </p><br>
    <!-- <p><%=  %></p><br> -->

  </main>

  <% include ./design/footer.ejs %>
</body>
</html>
