<!DOCTYPE html>
<html>
<head>
  <% include ./design/style.ejs %>

</head>
<body id="BODY_2">
<div="col-lg-9">
<center>

<h1 id="H1_2">
	Messagener
</h1>
<h2 id="A2_18"> Chat With Best Buddies</h2>


<div id="DIV1_3">
	<form action='/user/api/v1/newuser/create' method="post" id="FORM_4">
		<h2 id="H2_5">
			Sign UP
		</h2>
		<div id="DIV_6">
      <div id="DIV_7">
				<input type="text" name="username" placeholder="UserName" id="INPUT_8" />
			</div>
			<div id="DIV_7">
				<input type="email" name="email" placeholder="Email" id="INPUT_8" />
			</div>
			<div id="DIV_7">
				<input type="password" name="password" placeholder="Password" id="INPUT_10" />
      </div>
		</div>
		<div id="DIV_12">
			<button type="submit" id="BUTTON1_13">
				    Signup
			</button><br id="BR_14" />
		</div>
	</form>
</div>
<!---728x90--->

<div id="DIV_30">
	<p id="P_31">
		©2018  All Rights Reserved & Design by - Ajay Jadhav
	</p>
</div>


</div>
</center>
</div>
</body>
</html>
